[Desktop Entry]
Type=Application
Name=Lyra Vega
Comment=Enterprise Control Center
GenericName=Configurações do sistema
Exec=/usr/bin/vega-gtk
Icon=vega
Terminal=false
Categories=Settings;System;
StartupWMClass=org.lyraos.Vega
