[Desktop Entry]
Type=Application
Name=Vega
Comment=Centro de controle para Linux
GenericName=Configurações do sistema
Exec=/usr/bin/lyra-vega-gtk
Icon=vega
Terminal=false
Categories=Settings;System;
StartupWMClass=org.lyraos.Vega
